<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Automation Exercise - Test suite" verbose="1" >
    <test name="testcase1: scroll down and scroll up by using Arrow ">
        <classes>
            <class name="com.ae.qa.testcases.WelcomePage_Test">
                <methods>
                    <include name="scrolldown_test"/>
                    <include name="scrollupWithArrow_test" />

                </methods>


            </class>
        </classes>
    </test>
    <test name="testcase2: scroll down and scroll up without arrow ">
        <classes>
            <class name="com.ae.qa.testcases.WelcomePage_Test">
            <methods>
                <include name="scrolldown_test"/>
                <include name="scrollupWithoutArrow_test" />
            </methods>
        </class>
        </classes>
    </test>



<!--    <test name="testcase2: login page">-->
<!--        <classes>-->
<!--            <class name="com.ae.qa.testcases.LoginPage_Test"/>-->
<!--        </classes>-->
<!--    </test>-->


</suite>
